# .env.development | .env.staging | .env.production
# ==============================================================================
# Required environment variables
# ------------------------------------------------------------------------------
# The secret key used by the encrypt middleware to encrypt data
SECRET_KEY=WHITELABEL_ENCRYPT_SECRET_KEY
# The base URL of the API
API_URL=https://jsonplaceholder.typicode.com/
# The base URL of the GraphQL node
GRAPH_NODE_URL=https://graphqlplaceholder.vercel.app/graphql